html{
  font-size: 80%;
  box-sizing: border-box;

}
body,#root{
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: "header""main""footer";
  grid-template-rows:5em 1fr 5em ;
  grid-template-columns: 1fr;
  height: 100%;
}
header{
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: .5em;
}

body input select textarea {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  color: #ff8000;
}
header a{
  color: rgb(1, 194, 75);
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}